
body {
    background: linear-gradient(135deg, #dfe9f3, #ffffff);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

    background-image: url("assets/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  
    background-color: #dfe9f3;
}


.container {
    max-width: 420px;
    margin: 110px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    backdrop-filter: blur(5px);
}

h1 {
    margin-bottom: 10px;
    color: #333;
}

p {
    color: #555;
    margin-bottom: 25px;
}


button {
    margin: 12px;
    padding: 12px 22px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}


#enableBtn {
    background-color: #4caf50;
    color: white;
}


#notifyBtn {
    background-color: #2196f3;
    color: white;
}


button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


button:active {
    transform: scale(0.98);
}
